@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body{
	margin: auto;
	background: rgb(31, 25, 25);
	color: white;
}
nav{
	position: absolute;
	font-size: 16px;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	background: rgb(107, 102, 102);
	width: 19%;
	overflow: hidden;
	transition: width 0.2s linear;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.desk-float{
	display: inline-flex;
	float: right;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	margin-left: 250px;
	margin-top: 65%;
	text-transform: uppercase;
	font-weight: bold;
}
.logo{
	text-align: center;
	display: flex;
	transition: all 0.5s ease;
}
.logo img{
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.logo span{
	font-weight: bold;
	padding: 20px;
	font-size: 18px;
	text-transform: uppercase;
}
a{
	position:relative;
	color: white;
	font-size: 25px;
	display: table;
	width: 300px;
	padding: 10px;
}
.fas{
	position: relative;
	width: 70px;
	height: 40px;
	top: 14px;
	font-size: 20px;
	text-align: center;
}
.nav-item{
	position: relative;
	top: 12px;
	margin-left: 10px;

}
a:hover{
	background: rgb(131, 125, 125);
}
nav:hover{
	width: 280px;
	transition: all 0.5s ease;
}
.h-message{
	font-family: "Poppins", sans-serif;
	margin-top: 25%;
	text-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.h-message2{
    margin-top: 1%;
    text-align: center;
    font-size: 15px;
	font-family: "Poppins", sans-serif ;
	width: 50%;
}
img{
    margin-top: 20%;
}

