@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}
body{
	margin: auto;
	background: rgb(31, 25, 25);
	color: white;
}
.home{
	width: 80%;
	border-top: 2px solid white;
	margin-top: 15px;
	padding: 20px;
}
.home p{
	padding: 10px;
}
.h-message{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h-message2{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 200;
}
.about{
	width: 80%;
	border-top: 2px solid white;
	margin-top: 15px;
	padding: 20px;
}
.h-message3{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding-bottom: 10px;
}
.h-message4{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 100;
	font-size: 18px;
	padding: 5px;
}
.projects{
	width: 80%;
	border-top: 2px solid white;
	margin-top: 15px;
	padding: 20px;
}
.contact{
	width: 80%;
	border-top: 2px solid white;
	margin-top: 15px;
	padding: 20px;
}
.whatsapp img{
	border-radius: 40%;
	padding: 10px;
}
